page-home {

#back{
    //background-image: url("../../assets/imgs/birthdayCard.jpg");

    background-color: #ff7e7e;
    height: 800px;
   
}


#message p{
    color:white;
    padding-top: 20%;
    font-size: 35px;
    font-family:Comic Sans MS;
}


#color{
    background-color: paleturquoise;
}


#msg h3{

    color:white;

}


ion-icon{
    color:#ae5d5d;
    font-size:120%;
    
}

}
